<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Habitat</title>
  <style>
    body,
    html {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 12px;
      background-color: #111;
      color: #aaa;
    }

    h1,
    h2 {
      font-weight: 100;
    }

    h2 {
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <h1>Habitat</h1>
  <div data-measurements="{{measurements}}"></div>
  <div data-predictions="{{predictions}}"></div>
  <div data-next-day="{{next_day}}"></div>

  <div style="width: 100%">
    <h2>humidity: 24h forecast</h2>
    <canvas id="forecastChart"></canvas>

    <h2>humidity/last 24h: measured vs 24h forecast</h2>
    <canvas id="previousDayChart"></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>